<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trained Model</title>
    {% include 'links.html' %}
</head>
    <body>
        {% include 'header.html' %}

        <main class="side-by-side">
            <section>
                <h2>{{ dataset1_name }}</h2>
                <div class="image-grid">
                    {% for image_path in dataset1_images %}
                        <img src="{{ url_for('static', filename=image_path) }}" alt="Classified Image">
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>{{ dataset2_name }}</h2>
                <div class="image-grid">
                    {% for image_path in dataset2_images %}
                        <img src="{{ url_for('static', filename=image_path) }}" alt="Classified Image">
                    {% endfor %}
                </div>
            </section>
        </main>
    </body>
</html>